# Core functionality - changes here should be rare!
/src/app.py                   @momairh
/src/backend/database.py      @momairh
/src/backend/routers/auth.py  @momairh

# The frontend will need refactored soon to be more object oriented.
/src/static/   @momairh
